<h1> Alchemy API Analyzer</h1>

<h3>How do twitter users feel about Alchemy API in the past week?</h3>
    <ul>
      <li>Tweets to @alchemyapi reveal:
        <%=@results[:twitter][:tweets_to_alchemy_api][:positive]%>,
        <%=@results[:twitter][:tweets_to_alchemy_api][:negative]%>,
        <%=@results[:twitter][:tweets_to_alchemy_api][:neutral]%>
      </li>
      <li>Tweets tagged #alchemyapi reveal:
        <%=@results[:twitter][:tweets_tagged_alchemy_api][:positive]%>,
        <%=@results[:twitter][:tweets_tagged_alchemy_api][:negative]%>,
        <%=@results[:twitter][:tweets_tagged_alchemy_api][:neutral]%>
      </li>
    </ul>

<h3>How do user feel about Alchemy API on Stack Overflow right now?</h3>
    <ul>
      <li>Questions tagged #alchemy api and associated answers and comments reveal:
        <%= @results[:stackoverflow][:tagged_alchemyapi][:positive]%>,
        <%= @results[:stackoverflow][:tagged_alchemyapi][:negative]%>,
        <%= @results[:stackoverflow][:tagged_alchemyapi][:neutral]%>
      </li>
    </ul>
